@{
    ViewData["Title"] = "Hasil Perhitungan";
}

<h2>Hasil</h2>

<p>
    Bangun Datar: <strong>@ViewBag.Nama</strong>
</p>

<p>
    Luas: <strong>@ViewBag.Luas</strong>
</p>

<a asp-action="Index">Hitung Lagi</a>
